# 🌐 SERVIDOR
PORT=4000
NODE_ENV=development

# 🗄️ BANCO DE DADOS (MySQL local)
DB_NAME=bubble_db
DB_USER=
DB_PASS=
DB_HOST=
DB_DIALECT=mysql

# 🔑 JWT (Autenticação)
JWT_SECRET=sua_chave_super_secreta_aqui
JWT_EXPIRES_IN=7d

# 📂 UPLOADS (pastas do projeto)
UPLOADS_PATH=uploads
USERS_UPLOADS_PATH=uploads/users
BANNERS_UPLOADS_PATH=uploads/users/banner
TEMPS_UPLOADS_PATH=uploads/temps
